@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@900&family=Space+Grotesk:wght@700&display=swap');
*{
  margin: 0;
}
body{
  background-color: rgb(29, 30, 32);
  color: rgb(156, 157, 158);
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 100vw;
  height: 100vh;
  position: relative;
}
main{
  left: 40%;
  top: 50%;
  position: absolute;
  transform: translate(-40%, -50%);
}
.title{
  color: rgb(218, 218, 218);
  padding: 10px;
  font-size: 30px;
}
#bg-title{
  width: 206px;
  border-radius: 4px;
  background-color: rgb(46, 46, 51);
}
p{
  margin-top: .8rem;
}
span{
  color: rgb(218, 218, 218);
}
svg{
  padding: 15px 10px 0px 0px;
  width: 30px;
  height: 30px;
  fill: rgb(156, 157, 158);
}
svg:hover{
  fill:rgb(46, 46, 51);
}
.icons{
}
@media (max-width: 600px) {
  main{
    left: 10%;
    top: 50%;
    position: absolute;
    transform: translate(-10%, -50%);
  }
}
df-messenger {
  --df-messenger-bot-message: rgb(236, 236, 236); /* Cor do balão para mensagens do agente */
  --df-messenger-button-titlebar-color: rgb(46, 46, 51); /*Cor do botão flutuante e da barra de título da caixa de diálogo do chat.*/
  --df-messenger-button-titlebar-font-color: white; /*Cor da fonte do título na barra de título.*/
  --df-messenger-chat-background-color: whiteSmoke; /*Cor do fundo.*/
  --df-messenger-font-color: rgb(46, 46, 51); /*Cor da fonte para mensagens.*/
  --df-messenger-input-box-color: whiteSmoke; /*Cor do segundo plano da caixa de entrada de texto.*/
  --df-messenger-input-font-color: rgb(46, 46, 51); /*Cor da fonte da caixa de entrada de texto.*/
  --df-messenger-input-placeholder-font-color: rgb(46, 46, 51); /*Cor da fonte do texto do marcador na caixa de entrada de texto.*/
  --df-messenger-minimized-chat-close-icon-color: white; /*Cor do ícone de fechamento na visualização de chat fechada.*/
  --df-messenger-send-icon: rgb(46, 46, 51); /*Cor do ícone de envio na caixa de entrada de texto.*/
  --df-messenger-user-message: rgb(46, 46, 51); /*Cor do segundo plano do balão para mensagens do usuário.*/
}  
