@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("fontawesome-all.min.css");

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
  scroll-behavior: smooth;
}
:target {
    scroll-margin-top: .8em;
  }
*{
	padding: 0;
	border: 0;
    margin: 0;
}

body, h1, p, nav{
    color: rgb(235, 235, 235);
    background-color: rgb(13, 17, 23);
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 4.35em;
    margin-top: 200px;
    letter-spacing: -0.035em;
	line-height: 1em;
}
.subtitle{
    margin-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: rgb(214, 214, 214);
    font-size: 1em;

}
.iconBehance, .iconGithub, .iconLinkedin, .iconEmail{
    color: whitesmoke;
    font-size: 32px;
}
.circle1, .circle2, .circle3, .circle4{
    width: 75px;
    height: 75px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    align-items: center;
    display:grid;
    margin: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 20px;
}

li {
    float: left;
    margin-top: 10px;
    padding: 0px 5px 0px 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.divfooter{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    bottom: 0;
    margin-bottom: 15px;
    position: fixed;
}

h5{
    font-weight: 500;
    font-size: calc(16px + 1.5vw);
    text-align: center;
}
h6{
    color: rgb(187, 187, 187);
	margin-top: 5px;
    font-weight: 300;
    font-size: calc(12px + 0.5vw);
    text-align: center;
    text-decoration: none;
}
a{
    color: rgb(181, 163, 216);
    text-decoration: none;
}
df-messenger {
    --df-messenger-bot-message:#455870; /* Cor do balão para mensagens do agente */
    --df-messenger-button-titlebar-color: rgb(13, 17, 23); /*Cor do botão flutuante e da barra de título da caixa de diálogo do chat.*/
    --df-messenger-button-titlebar-font-color: white; /*Cor da fonte do título na barra de título.*/
    --df-messenger-chat-background-color: whiteSmoke; /*Cor do fundo.*/
    --df-messenger-font-color: white; /*Cor da fonte para mensagens.*/
    --df-messenger-input-box-color: whiteSmoke; /*Cor do segundo plano da caixa de entrada de texto.*/
    --df-messenger-input-font-color: #111418; /*Cor da fonte da caixa de entrada de texto.*/
    --df-messenger-input-placeholder-font-color: #111418; /*Cor da fonte do texto do marcador na caixa de entrada de texto.*/
    --df-messenger-minimized-chat-close-icon-color: white; /*Cor do ícone de fechamento na visualização de chat fechada.*/
    --df-messenger-send-icon: black; /*Cor do ícone de envio na caixa de entrada de texto.*/
    --df-messenger-user-message: #121a20ef; /*Cor do segundo plano do balão para mensagens do usuário.*/
  }
  