@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-color: #F8FAFC;
  --seccundary-color: #cfd6e4;
  --main-color: #0560ff;
}

html{
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-color);
}

::-webkit-scrollbar-thumb {
  background: var(--seccundary-color);
  border-radius: 5px;

}

body{
  background-color: var(--light-color);;
  color:var(--light-color);
  font-weight: 400;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}

.content{
  left: 42%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -42%);
}

.title{
  display: inline;
  padding: 10px;
  font-weight: 700;
  font-size: 2.2em;
  color: var(--light-color);
  background: var(--main-color);
}

main p{
  margin-top: 1.6rem;
  margin-bottom: 4px;
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
}

p::selection {
  background-color: var(--main-color);
  color: var(--light-color);
}

button{
  background-color: var(--light-color);
  color: black;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
  font-weight: 400;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: underline;
  border: none;
}

#img{
  max-height: 13px;
  max-width: 13px;
  position:absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  filter: brightness(0);
}

.accordion{
  padding-left: 18px;
  position: relative;
}

ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 12px;
}

ul li{
  list-style-type: none;

}

a{
  color: var(--main-color);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

@media (max-width: 600px) {
  .content{
    left: 15%;
    top: 50%;
    position: absolute;
    transform: translate(-15%, -50%);
  }
  .title{
    font-size: 2rem;
  }
  main p{
    font-size: 1rem;
    margin-top: 1.4rem;
    margin-bottom: 6px;
  }
  button{
    font-size: 1rem;
  }
}

df-messenger {
  --df-messenger-bot-message: white; /* Cor do balão para mensagens do agente */
  --df-messenger-button-titlebar-color: var(--main-color); /*Cor do botão flutuante e da barra de título da caixa de diálogo do chat.*/
  --df-messenger-button-titlebar-font-color: var(--light-color); /*Cor da fonte do título na barra de título.*/
  --df-messenger-chat-background-color: var(--light-color); /*Cor do fundo.*/
  --df-messenger-font-color: black; /*Cor da fonte para mensagens.*/
  --df-messenger-input-box-color: var(--light-color); /*Cor do segundo plano da caixa de entrada de texto.*/
  --df-messenger-input-font-color: #131418; /*Cor da fonte da caixa de entrada de texto.*/
  --df-messenger-input-placeholder-font-color: #131418; /*Cor da fonte do texto do marcador na caixa de entrada de texto.*/
  --df-messenger-minimized-chat-close-icon-color: var(--light-color); /*Cor do ícone de fechamento na visualização de chat fechada.*/
  --df-messenger-send-icon: var(--main-color); /*Cor do ícone de envio na caixa de entrada de texto.*/
  --df-messenger-user-message: #E4E4E7; /*Cor do segundo plano do balão para mensagens do usuário.*/
}
